h1{ 
    colour : #E3805F;
    background : #C5FF24;
}
body{
    background: #E3805F;
}
span{
    width = 50;
    height = 50;
    background-colour = #FFECE6;
    border-radius = 8px;
#myskills{}
#mysuperpower{}
#mywork{}
