h1{ 
    colour : #E3805F;
    background : #C5FF24;
}
body{
    background: #F5F3F2;
}
span{
    width: 50;
    height: 50;
    background-color: #FFECE6;
    border-radius: 8px;
#myskills{}
#mysuperpower{}
#mywork{}
